
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#f2efef67;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #02344f7e;
    color:#ffffff;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1; 
  }
  
  header img {
    height: 70px;
    margin-left: 50px; 
    margin-top: 20px;
  }
  

.container {
    display: flex;
    width: 800px;
    height: 500px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}
.login-section {
    background-color: #1E1E1E;
    padding: 40px;
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
.login-section h2 {
    margin-bottom: 20px;
}
.login-section label {
    margin-bottom: 5px;
    font-size: 14px;
}
.login-section input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: white;
    width: 100%;
}
.login-section input[type="submit"] {
    background-color: #b3d0ff;
    cursor: pointer;
}
.login-section input[type="submit"]:hover {
    background-color: #b3d0ff;
}
.login-section a {
    color: #b3d0ff;
    text-decoration: none;
    font-size: 14px;
}
.signup-link {
    margin-top: 20px;
    text-align: center;
}
.welcome-section {
    background-color: #d6dbe2;
    padding: 40px;
    width: 60%;
    color: #7097d2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    border-color:rgb(0, 0, 0);
}
.welcome-section h1 {
    margin-bottom: 10px;
}
.welcome-section p {
    margin-bottom: 200px;
}
.welcome-section img {
    position: absolute;
    bottom: 20px;
    right: 0px;
    height: auto;
    margin-bottom: 50px;
    margin-right: 160px;
    width: 200px;
}

