* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #d0e2fe;
}
header {
    display:flex;
    justify-content:left;
    align-items: center;
    padding: 10px 20px;
    background-color:#02344f9c;
    color: white;
}
.img{
 width: 40%;
}
.logo {
    width: 100px;
    height: 80px;
}
.university-name {
    text-align: left;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d0e2fe;
}
.container {
    width: 1400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #d0e2fe;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar {

    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;

    margin-top: 0px;
}
.sidebar .logo #logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    width:100px ;
    margin-top: 20px;
    margin-left: 30px;
}
.sidebar .nav {
    padding: 20px;
}
.sidebar .nav a {
    display:block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000000;
    padding: 10px;
    border-radius: 20px;
    text-align:justify;
}
.sidebar .nav a:hover {
    color: #000000;
    background-color: #d0e2fe;
}
.heading{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: #4981d7;
    background-color: rgba(255, 255, 255, 0.673);
}